In [6]:
#Linear Regression
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import clear_output
from six.moves import urllib

import tensorflow.compat.v2.feature_column as fc
import tensorflow as tf

5

In [11]:
#load dataset
dftrain = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/train.csv') #training data
dfeval = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/eval.csv') #testing data
dftrain.head()
y_train = dftrain.pop('survived') #Takes out the survived information, because we are looking for the survived
y_eval = dfeval.pop('survived')
dftrain.head()
print(dftrain.loc[0], y_train.loc[0]) #Prints out a specfic row 
#print(dftrain["age"]) 
dftrain.describe() #Prints mean, min, etc.

,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,female,35.0,1,0,53.1000,First,C,Southampton,n
4,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

In [ ]:
#Graphs
#Categorical data: data without numbers
#We have to turn this data into numbers
CATEGORICAL_COLUMNS = ["sex", "n_siblings_spouses", "parch", "class", "deck",
                      "embark_town", "alone"]
NUMERIC_COLUMNS = ["age", "fare"]

feature_columns = []
for feature_name in CATEGORICAL_COLUMNS:
    vocabulary = dftrain[feature_name].unique() #creates a list of all unique values for data
    feature_columns.append(tf.feature_column.categorical_column_with_vocabulary_list(feature_name, vocabulary)) # creates columns for regression

for feature_name in NUMERIC_COLUMNS:
    feature_columns.append(tf.feature_column.numeric_column(feature_name, dtype=tf.float32))
    
    print(feature_columns)

In [ ]:
#Training
#Batching
#epochs
#input Functions: Takes the data and converts pandas dataframe into tf object
def make_input_fn(data_df, label_df, num_epochs=10, shuffle = Tue, batch_size = 32):
    def input_function():
        ds = tf.data.Dataset.from_tensor_slices((dict(data_df), label_df)) #creates td data set object
        if shuffle:
            ds = ds.shuffle(1000) #randomizes order of data
        ds = ds.btach(batch_size).repeat(num_epochs) #Splits dataset into the batches
        return ds #returns a batch of a dataset
    return input_function #return a function to use
train_input_fn = make_input_fn(dftrain, y_train) #call the input function to use this data
eval_input_fn = make_input_fn(dfeval, y_eval, num_epochs=1, shuffle=False)

In [ ]:
#creating the model
linear_est = tf.estimator.LinearClassifier(feature_columns=feature columns) #uses estimators: an algorithim from Tensor Flow
#Actual training 
linear_est.train(train_input_fn) #calls the model to train it
result = linear_est.evaluate(eval_input_fn) #gets model data from the testing

clear_output() #clears output
print(results['accuracy']) #Shows the accuracy of model
print(results)

In [ ]:
#improving results
#change epochs, dont make it too low or too high
#Makinf predictions
result = list(linear_est.predict(eval_input_fn))#Converted to list so we can loop through it
print(dfeval.loc[0])#prints stats of person
print(y_ecal.loc[0])#prints result in yes or no fashion
print(results[0]['probabilities']) #Looks at dictionary of 1 prediction